{{- if .Values.rbac.clusterRole.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Values.rbac.clusterRole.name }}
rules:
{{- toYaml .Values.rbac.clusterRole.rules | nindent 2 }}
{{- end }}