{{- if .Values.rbac.clusterRoleBinding.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Values.rbac.clusterRoleBinding.name }}
subjects:
  # Bind both job and cronjob service accounts to the shared ClusterRole
  {{- if .Values.job.serviceAccount.enabled }}
  - kind: ServiceAccount
    name: {{ .Values.job.serviceAccount.name }}
    namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.cronjob.serviceAccount.enabled }}
  - kind: ServiceAccount
    name: {{ .Values.cronjob.serviceAccount.name }}
    namespace: {{ .Release.Namespace }}
  {{- end }}
roleRef:
  kind: ClusterRole
  name: {{ .Values.rbac.clusterRole.name }}
  apiGroup: rbac.authorization.k8s.io
{{- end }}