job:
  enabled: true
  name: onelensdeployerjob
  image: public.ecr.aws/w7k6q5m9/onelens-deployer
  imageTag: v1.8.0
  imagePullPolicy: Always
  restartPolicy: Never
  backoffLimit: 2
  ttlSecondsAfterFinished: 300
  env:
    deployment_type: job
  resources:
    requests:
      cpu: 400m
      memory: 250Mi
    limits:
      cpu: 400m
      memory: 250Mi

  # Tolerations allow the agent to be scheduled on nodes with matching taints
  tolerations: []
  # - key: "key"
  #   operator: "Equal"
  #   value: "value"
  #   effect: "NoSchedule"
  nodeSelector: {}
  # kubernetes.io/os: linux
  serviceAccount:
    enabled: true
    name: onelensdeployerjob-sa
  clusterRole:
    name: onelensdeployerjob-clusterrole
    rules:
      - apiGroups: ["*"]
        resources: ["*"]
        verbs: ["*"]
  clusterRoleBinding:
    name: onelensdeployerjob-clusterrolebinding
cronjob:
  enabled: true
  name: onelensupdater
  schedule: "0 2 * * *"
  image: public.ecr.aws/w7k6q5m9/onelens-deployer
  imageTag: v1.8.0
  restartPolicy: Never
  env:
    deployment_type: cronjob
  resources:
    requests:
      cpu: 400m
      memory: 250Mi
    limits:
      cpu: 400m
      memory: 250Mi
  concurrencyPolicy: "Forbid" # Prevent concurrent job executions
  successfulJobsHistoryLimit: 1 # Number of successful jobs to keep
  failedJobsHistoryLimit: 1 # Number of failed jobs to keep
  suspend: false # Suspend the job
  healthCheck: false # Set to true to enable health check for cronjob pod
  # Tolerations allow the agent to be scheduled on nodes with matching taints
  tolerations: []
  # - key: "key"
  #   operator: "Equal"
  #   value: "value"
  #   effect: "NoSchedule"
  nodeSelector: {}
  # kubernetes.io/os: linux

  serviceAccount:
    enabled: true
    name: onelensupdater-sa
  clusterRole:
    name: onelensupdater-clusterrole-minimal
    annotations:
    meta.helm.sh/release-name: onelensdeployer
    meta.helm.sh/release-namespace: onelens-agent
    rules:
      # Namespace discovery
      - apiGroups: [""]
        resources: ["namespaces", "nodes", "pods"]
        verbs: ["get", "list", "watch"]
      # Read access to RBAC resources
      - apiGroups: ["rbac.authorization.k8s.io"]
        resources: ["clusterroles"]
        resourceNames: ["onelens-agent-kube-state-metrics", "onelens-agent-prometheus-opencost-exporter", "onelens-agent-prometheus-server", "onelens-agent-workload-reader", "onelensdeployerjob-clusterrole", "onelensupdater-clusterrole-minimal"]
        verbs: ["get", "list", "watch", "patch", "update", "delete"]
      - apiGroups: ["rbac.authorization.k8s.io"]
        resources: ["clusterrolebindings"]
        resourceNames: ["onelens-agent-kube-state-metrics", "onelens-agent-prometheus-opencost-exporter", "onelens-agent-prometheus-server", "onelens-agent-workload-reader-binding", "onelensdeployerjob-clusterrolebinding", "onelensupdater-clusterrolebinding-minimal"]
        verbs: ["get", "list", "watch", "patch", "update", "delete"]
      # Read access to RBAC resources
      - apiGroups: ["rbac.authorization.k8s.io"]
        resources: ["roles", "rolebindings"]
        resourceNames: ["onelens-agent-kube-state-metrics-role", "onelens-agent-prometheus-opencost-exporter-role", "onelens-agent-prometheus-server-role", "onelens-agent-workload-reader-role", "onelensdeployerjob-clusterrole-role", "onelensupdater-clusterrole-minimal-role"]
        verbs: ["get", "list", "watch", "patch", "update", "delete"]
      - apiGroups: ["apps"]
        resources: ["daemonsets, deployments, statefulsets"]
        verbs: ["get", "list", "watch"]
      - apiGroups: ["autoscaling"]
        resources: ["horizontalpodautoscalers"]
        verbs: ["get", "list", "watch"]
      - apiGroups: ["batch"]
        resources: ["jobs", "cronjobs"]
        verbs: ["get", "list", "watch"]
      # Read access to resourcequotas
      - apiGroups: [""]
        resources: ["resourcequotas"]
        verbs: ["list", "watch", "patch", "update"]
      # Read access to StorageClasses
      - apiGroups: ["storage.k8s.io"]
        resources: ["storageclasses"]
        resourceNames: ["onelens-sc"]
        verbs: ["get", "list", "watch", "patch", "update", "delete"]
  clusterRoleBinding:
    name: onelensupdater-clusterrolebinding
  role:
    name: onelensupdater-role
    namespace: onelens-agent
    rules:
      - apiGroups: ["*"]
        resources: ["*"]
        verbs: ["*"]
  roleBinding:
    name: onelensupdater-rolebinding
    namespace: onelens-agent
